@use 'variables' as *;

body {
  background: url('/images/bg-home.webp') center/cover no-repeat fixed;
  background-color: #f0f0f0;
  min-height: 100vh;
}

// 移动端优化
@media (max-width: 768px) {
  body {
    background-attachment: scroll; // 性能优化
  }
}